@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-font-family: 'DM Sans', sans-serif;
  --secondary-font-family: 'Titan One', cursive;
  --primeri-text-color: #ffffff;
  --accent-color: #d41443;
  --button-hover-bg-color: #ecebeb;
  --background-color: #fff5f6;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--primary-font-family);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 115px;
  }
}

.section__pretitle {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: normal;
  color: #ffa5ba;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section__pretitle {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .section__pretitle {
    font-size: 30px;
    line-height: 1.12;
  }
}

.section__title {
  font-family: var(--secondary-font-family);
  font-size: 34px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 48px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .section__title {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

<<<<<<< Updated upstream
=======
.section__hero * {
  outline: 1px solid tomato;
}

.section__hero {
  background-color: #ffb8ca;
}

.container__hero {
  position: relative;
  overflow: hidden;
  padding-top: 6px;
  padding-bottom: 160px;
}

@media screen and (min-width: 768px) {
  .container__hero {
    padding-top: 38px;
    padding-bottom: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container__hero {
    padding-bottom: 56px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 137px;
}

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 7px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    margin-bottom: 69px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header__logo {
  width: 199px;
  height: 50px;
}

@media screen and (min-width: 1280px) {
  .header__logo {
    position: absolute;
    top: 38px;
    left: 46px;
  }
}

@media screen and (max-width: 1279px) {
  .header__nav {
    display: none;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 35px;
}

.nav-list__link {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  z-index: 2;
  -webkit-transition: color 300ms var(--transition-function);
  transition: color 300ms var(--transition-function);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link--accent {
  color: var(--accent-color);
}

.header__button-burger {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__button-burger {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1279px) {
  .header__button-burger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
  }
}

.hero__button-buy {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 44px;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  color: var(--accent-color);
  border-radius: 22px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: background-color 300ms var(--transition-function);
  transition: background-color 300ms var(--transition-function);
}

@media screen and (max-width: 767px) {
  .hero__button-buy {
    display: none;
  }
}

.hero__button-buy:hover, .hero__button-buy:focus {
  background-color: var(--button-hover-bg-color);
}

@media screen and (min-width: 1280px) {
  .hero__button-buy {
    margin-left: 110px;
  }
}

.hero__icon-buy {
  margin-left: 12px;
}

.menu__mobile {
  display: none;
}

.hero__title-wrap {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .hero__title-wrap {
    padding-top: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title-wrap {
    padding-top: 5px;
  }
}

.hero__title {
  max-width: 218px;
  margin-bottom: 19px;
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 48px;
  line-height: 0.905;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 162px;
    margin-bottom: 20px;
    font-size: 34px;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    max-width: 277px;
    margin-bottom: 25px;
    font-size: 58px;
  }
}

.hero__title-another-color {
  display: block;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero__title-another-color {
    font-size: 22px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title-another-color {
    font-size: 38px;
    line-height: 1.16;
  }
}

.anchor-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.anchor-list__item:first-child {
  margin-right: 8px;
}

@media screen and (min-width: 1280px) {
  .anchor-list__item:first-child {
    margin-right: 15px;
  }
}

.anchor-list__link {
  width: 61.2px;
  height: 24px;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 20px;
  -webkit-transition: background-color 300ms var(--transition-function);
  transition: background-color 300ms var(--transition-function);
}

.anchor-list__link:hover, .anchor-list__link:focus {
  background-color: #c7133e;
}

@media screen and (min-width: 1280px) {
  .anchor-list__link {
    width: 104px;
    height: 40px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.anchor-list__link--another-color {
  width: 82.8px;
  color: var(--accent-color);
  background-color: #ffffff;
  -webkit-transition: background-color 300ms var(--transition-function);
  transition: background-color 300ms var(--transition-function);
}

.anchor-list__link--another-color:hover, .anchor-list__link--another-color:focus {
  background-color: var(--button-hover-bg-color);
}

@media screen and (min-width: 1280px) {
  .anchor-list__link--another-color {
    width: 138px;
  }
}

@media screen and (min-width: 768px) {
  .hero__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 66px;
    z-index: 2;
  }
}

@media screen and (min-width: 1280px) {
  .hero__wrapper {
    margin-bottom: 112px;
  }
}

@media screen and (max-width: 767px) {
  .hero__stores-wrap {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .stores-list {
    position: relative;
    top: 0;
    right: -18px;
  }
}

.stores-list__item:first-child {
  position: relative;
  margin-bottom: 13px;
  padding-top: 2px;
  padding-right: 10px;
}

@media screen and (min-width: 1280px) {
  .stores-list__item:first-child {
    padding-top: 4px;
    padding-right: 18px;
    margin-bottom: 15px;
  }
}

.stores-list__item:last-child {
  position: relative;
  padding-top: 1px;
  padding-right: 8px;
}

@media screen and (min-width: 1280px) {
  .stores-list__item:last-child {
    padding-top: 3px;
    padding-right: 18px;
  }
}

.stores-list__item::after {
  position: absolute;
  top: 0;
  right: 5%;
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: -1;
}

@media screen and (min-width: 1280px) {
  .stores-list__item::after {
    right: 2%;
    width: 30px;
    height: 30px;
  }
}

.stores-list__number {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media screen and (min-width: 1280px) {
  .stores-list__number {
    font-size: 46px;
    line-height: 1.15;
  }
}

.stores-list__text {
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .stores-list__text {
    font-size: 14px;
    line-height: 1.29;
  }
}

@media screen and (max-width: 767px) {
  .hero__text-wrap {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero__text-wrap {
    position: relative;
    left: 120px;
    max-width: 114px;
    z-index: 2;
  }
}

@media screen and (min-width: 1280px) {
  .hero__text-wrap {
    max-width: 200px;
    left: 180px;
  }
}

.hero__text {
  margin-bottom: 7px;
  font-family: DM Sans;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
}

.hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .hero__link {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .hero__link {
    width: 26px;
    height: 26px;
  }
}

.hero__icon-arrow {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .hero__icon-arrow {
    width: 6px;
    height: 6px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__icon-arrow {
    width: 10px;
    height: 10px;
  }
}

.hero__img-ellipse {
  position: absolute;
  top: 17%;
  left: 11%;
  width: 346px;
  height: 344px;
  z-index: 1;
  max-width: none;
}

@media screen and (min-width: 768px) {
  .hero__img-ellipse {
    top: 36px;
    left: 307px;
    width: 324px;
    height: 322px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-ellipse {
    top: 52px;
    left: 475px;
    width: 538px;
    height: 538px;
  }
}

.hero__img-icecream {
  position: absolute;
  bottom: 0;
  left: 37%;
  width: 171px;
  height: 410px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .hero__img-icecream {
    bottom: 0;
    left: 378px;
    width: 143px;
    height: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-icecream {
    bottom: 0;
    left: 594px;
    width: 236px;
    height: 557px;
  }
}

.hero__img-milk {
  position: absolute;
  bottom: 28px;
  left: 34px;
  width: 124px;
  height: 126px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .hero__img-milk {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-milk {
    bottom: 45px;
    left: 77px;
    width: 188px;
    height: 191px;
  }
}

.hero__img-girl {
  position: absolute;
  bottom: 0;
  right: 34px;
  width: 168px;
  height: 133px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .hero__img-girl {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-girl {
    bottom: 0;
    right: 109px;
    width: 293px;
    height: 232px;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #e17992;
  padding: 60px 20px;
  z-index: 10;
  overflow-y: scroll;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    width: 254px;
    height: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.mob-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-close-btn {
  position: absolute;
  top: 23.26px;
  right: 28px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(#ffffff);
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 1280px) {
  .menu-close-btn {
    display: none;
  }
}

.hero__button-buy--mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  width: 209px;
}

@media screen and (min-width: 768px) {
  .hero__button-buy--mob {
    width: 186px;
  }
}

.nav-mob__item:not(:last-child) {
  margin-bottom: 23px;
}

.nav-mob__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.nav-mob__link--other-color {
  color: var(--accent-color);
}

.section-advantage {
  padding-bottom: 97px;
  background: #FFF5F6;
}

@media screen and (min-width: 768px) {
  .section-advantage {
    padding-bottom: 140px;
  }
}

.advantage {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -38px;
  }
}

.advantage__item {
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .advantage__item {
    -ms-flex-preferred-size: calc(100% / 3 - 60px);
        flex-basis: calc(100% / 3 - 60px);
    margin-left: 60px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .advantage__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

.advantage__title {
  margin-bottom: 13px;
  font-family: var(--secondary-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .advantage__title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .advantage__title {
    margin-bottom: 15px;
    font-size: 58px;
  }
}

.advantage__text {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .advantage__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 1280px) {
  .advantage__text {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.75;
  }
}

.advantage__title--milk::before,
.advantage__title--fruit::before,
.advantage__title--health::before {
  content: '';
  display: block;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .advantage__title--milk::before,
  .advantage__title--fruit::before,
  .advantage__title--health::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantage__title--milk::before,
  .advantage__title--fruit::before,
  .advantage__title--health::before {
    margin-bottom: 40px;
  }
}

.advantage__title--milk::before {
  width: 33px;
  height: 50px;
  background-image: url(../images/img-adv/adv-icon-1-1x.png);
  background-size: contain;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantage__title--milk::before {
    background-image: url(../images/img-adv/adv-icon-1-2x.png);
  }
}

.advantage__title--fruit::before {
  width: 50px;
  height: 50px;
  background-image: url(../images/img-adv/adv-icon-2-1x.png);
  background-size: contain;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantage__title--fruit::before {
    background-image: url(../images/img-adv/adv-icon-2-2x.png);
  }
}

.advantage__title--health::before {
  width: 44px;
  height: 50px;
  background-image: url(../images/img-adv/adv-icon-3-1x.png);
  background-size: contain;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantage__title--health::before {
    background-image: url(../images/img-adv/adv-icon-3-2x.png);
  }
}

>>>>>>> Stashed changes
.gallery {
  width: 100%;
  height: 122px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, var(--background-color)), color-stop(50%, var(--primeri-text-color)));
  background-image: linear-gradient(to bottom, var(--background-color) 50%, var(--primeri-text-color) 50%);
}

@media screen and (min-width: 768px) {
  .gallery {
    height: 264px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    height: 430px;
  }
}

.container__gallery {
  padding: 0;
}

.reviews__section {
  padding-top: 80px;
  padding-bottom: 86px;
}

.reviews__img {
  background-color: aqua;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 29px;
}

<<<<<<< Updated upstream
.reviews__text {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #000000;
  padding: 43px 66px 26px 57px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
=======
.wrap-text {
  padding: 43px 66px 26px 66px;
  background-color: #fafafa;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .wrap-text {
    padding: 47px 64px 34px 64px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .wrap-text {
    padding: 47px 77px 39px 77px;
    margin-bottom: 15px;
  }
>>>>>>> Stashed changes
}

.reviews__text::before {
  position: absolute;
<<<<<<< Updated upstream
  top: -115px;
  left: 45px;
  z-index: -1;
  content: '\275E';
  color: #e1e1e1;
  font-size: 150px;
=======
  top: -15px;
  left: -2px;
  z-index: -1;
>>>>>>> Stashed changes
  display: inline-block;
  content: '';
  background-image: url(../images/customer-reviews/pic.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 54px;
  height: 40px;
}

<<<<<<< Updated upstream
=======
@media screen and (min-width: 768px) {
  .reviews__text::before {
    top: -17px;
    left: -26px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__text::before {
    top: -15px;
    left: -26px;
  }
}

.reviews__text {
  position: relative;
  z-index: 1;
  background: repeating-linear-gradient(to top, transparent 1px, transparent 30px, #e1e1e1 31px, #e1e1e1 32px);
  text-align: center;
  color: #000;
  background-color: #fafafa;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
}

@media screen and (min-width: 768px) {
  .reviews__text {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__text {
    font-size: 16px;
    line-height: 1.86;
  }
}

>>>>>>> Stashed changes
.reviews__title {
  position: relative;
  color: #000000;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
<<<<<<< Updated upstream
  margin-bottom: 20px;
=======
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .reviews__title {
    margin-bottom: 35px;
  }
>>>>>>> Stashed changes
}

.reviews__title::before {
  content: '\2022   \2022   \2022';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  line-height: 4px;
  color: #c7133e;
  margin-bottom: 18px;
}

<<<<<<< Updated upstream
.reviews__wrap .slick-dots li.slick-active button:before {
  color: #c7133e;
=======
@media screen and (min-width: 768px) {
  .reviews__title::before {
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__title::before {
    margin-bottom: 15px;
  }
}

.reviews__wrap .slick-dots li.slick-active button {
  background-image: url(../images/customer-reviews/home.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0;
>>>>>>> Stashed changes
}

.reviews__wrap .slick-dots {
  position: relative;
  top: 0px;
}
<<<<<<< Updated upstream
=======

.reviews__wrap .slick-dots li {
  padding: 0;
  margin: 0;
  width: 12px;
  height: 12px;
}

.reviews__wrap .slick-dots li:not(:last-child) {
  margin-right: 18px;
}

.reviews__wrap .slick-dots li button:before {
  display: none;
}

.reviews__wrap .slick-dots li button {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin: 0;
}

.reviews__wrap .slick-dots li :hover {
  background-color: #c7133e;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 43px;
}

@media screen and (min-width: 768px) {
  .social {
    margin-top: 0;
  }
}

.social__item {
  margin-right: 30px;
}

.footer {
  padding-bottom: 43px;
  background-color: #FFF5F6;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-bottom: 10px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 46px;
  margin-right: 0px;
  color: black;
}

.telephone__number {
  color: var(--accent-color);
}

.end {
  padding-top: 20px;
  border-top: 1px solid #E1E1E1;
  text-align: center;
  margin-top: 65px;
  color: grey;
}

.section__pretitle--position {
  text-align: start;
}

.section__title--position {
  text-align: start;
}

.section__title--padding {
  padding-left: 15px;
  padding-right: 15px;
}

.container__footer {
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
>>>>>>> Stashed changes
/*# sourceMappingURL=main.css.map */