<div class="container">
    <div class="backdrop-about is-hidden" data-about-modal>
        <div class="modal-about">
            <button class="modal-about-close" type="button" data-about-modal-close>
                <svg  width="16" height="16">
                    <use href="./images/sprite.svg#icon-close"></use>
                </svg>
            </button>
            <h2 class="modal-about__title"> Lorem ipsum dolor sit amet.</h2>
            <p class="modal-about__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos necessitatibus
                obcaecati
                officiis commodi illo! Tenetur consectetur ratione eos eligendi iste cumque explicabo quibusdam deserunt
                eaque ex?
                Quaerat, explicabo eligendi dolore aspernatur laudantium aut eum quam itaque similique eveniet corrupti
                molestiae
                perferendis esse enim libero, eius facere vero nobis fugit quidem labore sequi? Voluptatem dicta commodi
                praesentium ratione non impedit reprehenderit dolor, molestias nobis cupiditate officiis, doloribus
                voluptates
                suscipit illo? Quas, cumque temporibus! Unde voluptate sed quam error, facilis nam, deserunt expedita
                molestias
                aperiam perspiciatis perferendis eveniet enim eum, nisi repellendus ratione sequi excepturi corporis
                quisquam.
                Nobis aperiam harum aliquam error, rerum laborum doloremque, nesciunt molestias quos quidem optio eius
                veniam
                provident, corrupti deleniti delectus voluptatibus fuga. Nesciunt molestias omnis vel voluptatibus
                dolorem
                architecto non quisquam modi, ipsum aperiam expedita, libero quasi sapiente hic quos minus eos fugit
                reprehenderit
                autem quas. Odit deleniti neque eos necessitatibus aliquam explicabo quis rerum consequatur?</p>
        </div>
    </div>
</div>