.backdrop-hero-modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 6;
  transition: opacity 600ms, visibility 600ms;
  @media screen and (max-width: 479px) {
    padding: 15px;
  }
}

.backdrop-hero-modal.is-hidden .modal {
  transform: scale(0.2) rotate(70deg);
}

.hero-modal {
  max-width: 450px;
  min-height: 609px;
  background-color: #FFF5F6;  
  border-radius: 22px;
  padding: 40px;  

  @include mobile {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    transition: transform 500ms;
  }
  @include desktop {
    width: 528px;
    min-height: 581px;
  }
}

.hero-modal__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primeri-text-color);
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: var(--transition-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.hero-modal__icons {
  fill: currentColor;
}

.hero-modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--titel-colore);
  margin-bottom: 12px;
  @include desktop {
    line-height: calc(23 / 20);
  }
}

.hero-modal__comments {
  margin-bottom: 20px;
}

.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.hero-modal__form {
  margin-bottom: 10px;
}

.hero-form-text {
  width: 100%;
  height: 120px;
  display: block;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  @include desktop {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.hero-form-field__text {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--text-colore);
  display: block;
  margin-bottom: 4px;
}

.hero-form-field__wrap {
  position: relative;
}

.hero-form-field__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 300ms;
  transition-timing-function: var(--transition-timing);
}

.hero-form-field__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  color: #000000;
  outline: none;
  transition-property: border-color;
  transition-duration: 300ms;
  transition-timing-function: var(--transition-timing);
  &:focus {
    border-color: var(--active-colore);
  }
  &:focus + .hero-form-field__icon {
    fill: var(--active-colore);
  }
}

.hero-modal-btn {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0.04em;

  width: 200px;
  height: 50px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--primeri-text-color);
  background: var(--accent-color);

  border-radius: 22px;

  margin-left: auto;
  margin-right: auto;
  padding: 0;

  position: relative;
  transition-property: background;
  transition-duration: 300ms;
  transition-timing-function: var(--transition-function);
  &:hover,
  &:focus {
    background: #d41342;
  }
}
