<section class="section-background">
    <div class="container locations-container">
        <h3 class="visually-hidden">Chicago Los Angeles New York CAFE FOODTRUCK</h3>
        <ul class="locations">
            <li class="locations__item">
                    <p class="locations__text-category">CAFE </p>
                <div class="locations__wrap">
                    <p class="locations__text-city">Chicago</p>
                    <p class="locations__text-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="locations__wrap">
                    <p class="locations__text-days">Monday - Friday</p>
                    <p class="locations__text-hours">06:00 AM - 10:00 PM</p>
                    
                    <p class="locations__text-days">Saturday - Sunday</p>
                    <p class="locations__text-hours">08:00 AM - 16:00 PM</p>
                </div>
                <div class="locations__wrap-link">
                    <a class="locations__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    <a class="locations__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
                   
            </li>
            <li class="locations__item">
                <p class="locations__text-category locations-foodtruck">FOODTRUCK </p>
                <div class="locations__wrap">
                    <p class="locations__text-city">Chicago</p>
                    <p class="locations__text-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="locations__wrap">
                    <p class="locations__text-days">Monday - Friday</p>
                    <p class="locations__text-hours">06:00 AM - 10:00 PM</p>
            
                    <p class="locations__text-days">Saturday - Sunday</p>
                    <p class="locations__text-hours">08:00 AM - 16:00 PM</p>
                </div>
                <div class="locations__wrap-link">
                    <a class="locations__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    <a class="locations__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
               
            </li>
            <li class="locations__item">
                <p class="locations__text-category">CAFE </p>
                <div class="locations__wrap">
                    <p class="locations__text-city">Chicago</p>
                    <p class="locations__text-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="locations__wrap">
                    <p class="locations__text-days">Monday - Friday</p>
                    <p class="locations__text-hours">06:00 AM - 10:00 PM</p>
            
                    <p class="locations__text-days">Saturday - Sunday</p>
                    <p class="locations__text-hours">08:00 AM - 16:00 PM</p>
                </div> 
                   <div class="locations__wrap-link">
                        <a class="locations__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                        <a class="locations__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                   </div> 
            </li>
        </ul>
        <div class="btn-locations-wrap">
        <button class="btn-locations">Our Locations<svg class="btn-locations__icon" width="4.8" height="8">
            <use href="./images/sprite.svg#icon-buy-icon-arrow2">
            </use>
        </svg></button>
        <button class="btn-Franchise">Franchise<svg class="btn-Franchise__icon" width="4.8" height="8">
            <use href="./images/sprite.svg#icon-buy-icon-arrow">
            </use>
        </svg></button>
        </div>
       
    </div>

</section>
<div style="padding:100px;overflow:hidden;">

    <a href="#" class="callback_button text-center">КАРТА</a>

</div>

