<section class="section reviews__section">
  <div class="container reviews__container">
    <div class="reviews__wrap">
      <ul class="reviews">
        <li class="reviews__item">
          <picture>
            <source
              srcset="images/customer-reviews/img1x1.jpg 1x, images/customer-reviews/img1x2.jpg 2x"
              media="(min-width:320px)"
            />
            <img
              class="reviews__img"
              src="images/customer-reviews/img1x1.jpg"
              alt="customer foto"
            />
          </picture>
          <p class="reviews__text">
            <span class="wrap-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
              risus.</span
            >
          </p>

          <h2 class="reviews__title">Emily, Los Angeles</h2>
        </li>
        <li class="reviews__item">
          <picture>
            <source
              srcset="images/customer-reviews/img2x1.jpg 1x, images/customer-reviews/img2x2.jpg 2x"
              media="(min-width:320px)"
            />
            <img
              class="reviews__img"
              src="images/customer-reviews/img2x1.jpg"
              alt="customer foto"
            />
          </picture>
          <p class="reviews__text">
            <span class="wrap-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
              risus.</span
            >
          </p>

          <h2 class="reviews__title">Jenifer, New York</h2>
        </li>
        <li class="reviews__item">
          <picture>
            <source
              srcset="images/customer-reviews/img3x1.jpg 1x, images/customer-reviews/img3x2.jpg 2x"
              media="(min-width:320px)"
            />
            <img
              class="reviews__img"
              src="images/customer-reviews/img3x1.jpg"
              alt="customer foto"
            />
          </picture>
          <p class="reviews__text">
            <span class="wrap-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
              risus.</span
            >
          </p>

          <h2 class="reviews__title">Bill, Washington</h2>
        </li>
      </ul>
    </div>
  </div>
</section>
