<section class="section">
    <div class="container ">
        <div class="reviews__wrap">
            <ul class="reviews">
                <li class="reviews__item">
                    <img class="reviews__img" src="./img/img.png" alt="customer foto" />
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                        Lorem ipsum primis in nibh vel risus.
                    </p>
                    <span class="reviews__dot"></span>
                    <h2 class="reviews__title">Emily, Los Angeles</h2>
                </li>
                <li class="reviews__item">
                    <img class="reviews__img" src="./img/img2.png" alt="customer foto" />
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                        Lorem ipsum primis in nibh vel risus.
                    </p>
                    <span class="reviews__dot"></span>
                    <h2 class="reviews__title">Emily, Los Angeles</h2>
                </li>
                <li class="reviews__item">
                    <img class="reviews__img" src="./img/img.png" alt="customer foto" />
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                        Lorem ipsum primis in nibh vel risus.
                    </p>
                    <span class="reviews__dot"></span>
                    <h2 class="reviews__title">Emily, Los Angeles</h2>
                </li>
                <li class="reviews__item">
                    <img class="reviews__img" src="./img/img2.png" alt="customer foto" />
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                        Lorem ipsum primis in nibh vel risus.
                    </p>
                    <span class="reviews__dot"></span>
                    <h2 class="reviews__title">Emily, Los Angeles</h2>
                </li>
                <li class="reviews__item">
                    <img class="reviews__img" src="./img/img.png" alt="customer foto" />
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                        Lorem ipsum primis in nibh vel risus.
                    </p>
                    <span class="reviews__dot"></span>
                    <h2 class="reviews__title">Emily, Los Angeles</h2>
                </li>
                <li class="reviews__item">
                    <img class="reviews__img" src="./img/img2.png" alt="customer foto" />
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                        Lorem ipsum primis in nibh vel risus.
                    </p>
                    <span class="reviews__dot"></span>
                    <h2 class="reviews__title">Emily, Los Angeles</h2>
                </li>
            </ul>
        </div>


    </div>
</section>