<section class="products__section">
    <div class="container products__container">
<p class="section__label">100% natural</p>
<h2 class="sectin__title">Products</h2>
<ul class="products__list">
    <li class="products__item">
        <div class="item__thumb">
        <h3 class="thumb__title">ice cream</h3>
        <p class="thumb__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        <button type="button" class="thumb__button">
            <svg class="" width="" height="">
                <use href=""></use>
            </svg>
        </button>
        </div>
    </li>
    <li class="products__item">
        <div class="item__thumb">
        <h3 class="thumb__title">ice coffee</h3>
        <p class="thumb__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        <button type="button" class="thumb__button">
            <svg class="" width="" height="">
                <use href=""></use>
            </svg>
        </button>
        </div>
    </li>
    <li class="products__item">
        <div class="item__thumb">
        <h3 class="thumb__title">milkshakes</h3>
        <p class="thumb__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        <button type="button" class="thumb__button">
            <svg class="" width="" height="">
                <use href=""></use>
            </svg>
        </button>
        </div>
    </li>
</ul>
</div>
</section>