.about {
  padding-top: 125px;
  padding-bottom: 39px;
  background-color: var(--background-color);

  @media screen and(max-width: 767px) {
    background-image: url('../images/about/about-mob-bg1x.png');
    background-position: 0 85%;
    background-repeat: no-repeat;
    background-size: 100%;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/about/about-mob-bg2x.png');
    }
  }

  @include tablet {
    padding-top: 130px;
    padding-bottom: 66px;
  }
  @include desktop {
    padding-top: 125px;
    padding-bottom: 146px;
    background-image: url('../images/about/about-desk-bg1x.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/about/about-desk-bg2x.png');
    }
  }
}
.about__pretitle {
  margin-bottom: 15px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: 130px;
    margin-bottom: 16px;
  }
}
.about__title {
  //   margin-bottom: 26px;
  margin-bottom: 350px;
  @include tablet {
    margin-bottom: 100px;
  }
  @include desktop {
    margin-bottom: 106px;
  }
}
.about__description {
  margin-bottom: 47px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;

  color: #000000;
  @include tablet {
    margin-bottom: 49px;
    font-size: 14px;
    line-height: 1.76;
  }
  @include desktop {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 1.76;

    letter-spacing: 0.04em;
  }
  //   &::before {
  //     content: '';
  //     background-image: url('../images/about/cow-mob-1x.png');
  //     width: 280px;
  //     height: 280px;
  //   }
  position: relative;
  &::before {
    content: url(' ../images/about/cow-mob-1x.png ');
    display: block;
    margin-bottom: 46px;
    max-width: 280px;

    position: absolute;
    transform: translateX(-20%) translateY(-100%);
  }
}

.about__recipe {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: #907e82;

  @include tablet {
    margin-bottom: 62px;
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
  @include desktop {
    margin-bottom: 45px;
    line-height: 1.94;
  }
}
.about__button {
  min-height: 44px;
  min-width: 176px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;

  color: var(--accent-color);
  background: var(--primeri-text-color);
  border-radius: 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--primeri-text-color);
    background-color: var(--accent-color);
  }
}
.about__icon {
  margin-left: 15px;
  fill: var(--accent-color);
  .about__button:hover & {
    fill: var(--primeri-text-color);
  }
}
.about__wrapper {
  margin: 0 50px;
}
