.section-background {
  background-image: linear-gradient(to bottom, #ffffff 84px, #fff5f6 84px);

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom, #ffffff 78px, #fff5f6 78px);

    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(to bottom, #ffffff 102px, #fff5f6 102px);
    }
  }
}

.locations-container {
  // width: 100%;
  padding: 0 50px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 36px;
    margin-left: -20px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.locations {
  @media screen and (min-width: 768px) {
    width: 100%px;
    display: flex;
    margin-left: -20px;
    margin-bottom: -20px;
    //   justify-content: center;
    //   align-items: center;
    //
    margin-left: auto;
    margin-right: auto;
  }
  &__item {
    background: #ffffff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 43px 20px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      width: calc(100% / 3 - 20px);
      margin-left: 20px;
    }
  }
}

// .locations__item:last-child {
//   margin-bottom: 0;
// }
.locations__wrap {
  // margin-bottom: 25px;
  padding-bottom: 25px;
  margin-top: 25px;
  border-bottom: 1px solid #e1e1e1;
}
.locations__text-category {
  // display: flex;
  // justify-content: center;
  display: block;
  text-align: center;
  align-items: center;
  width: 80px;
  background: #f0d1a5;
  border-radius: 4px;
  // text-transform: uppercase;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    // margin-bottom: 25px;
  }
}
.locations-foodtruck {
  width: 130px;
  background: #c2e297;
}
.locations__text-city {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}
.locations__text-description {
  display: block;
  width: 100%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.66;
    // padding-bottom: 25px;
  }
}

.locations__wrap:last-child {
  margin-bottom: 0;
}
.locations__text-days {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}
.locations__text-hours {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ffa5ba;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.locations__text-hours:last-child {
  margin-bottom: 0;
}
.locations__wrap-link {
  margin-top: 25px;
  width: 180px;
}
.locations__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.83;
  }
}
.btn-locations-wrap {
  margin-top: 54px;
  padding-bottom: 113px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.btn-locations {
  width: 161px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d41342;
  border-radius: 22px;
  border: none;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;

  color: #ffffff;
  @media screen and (min-width: 768px) {
    margin-right: 0;
  }
}
.btn-Franchise {
  width: 161px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 22px;
  border: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d41443;
  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
