.social {
    display: flex;
    justify-content: flex-end;
    // margin-top: 43px;
    @media screen and (min-width: 768px) {
        margin-top: 0;
    }
}

.social__item {
    margin-right: 24px;
    &:last-child {
        margin-right: 0px;
    }
}

.footer {
@media screen and(min-width: 480px) {
    padding-bottom: 25px;
}

// padding-bottom: 43px;
background-color: #FFF5F6;
@media screen and (min-width: 768px) {
    padding-bottom: 18px;
}
@media screen and (min-width: 1280px) {
    padding-bottom: 10px;
}
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.telephone {
    display: block;
    margin-top: 46px;
    margin-right: 0px;
    color: black;
    @media screen and (max-width: 480px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    @media screen and (min-width: 768px) {
    // display: flex;
    // justify-content: flex-end;
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.02em;
    }
}

.telephone__number {
    color: var(--accent-color);
}

.end {
    padding-top: 20px;
    text-align: center;
    // margin-top: 65px;
    color: #907E82;
    @media screen and (max-width: 480px) {
        margin: 0 auto;
        width: 150px;
    }
    @media screen and (min-width: 1280px) {
        font-weight: 700;
        font-size: 14px;
        line-height: 186%;
        letter-spacing: 0.02em;
        color: #907E82;
    }
}


.section__pretitle--position {
    margin-bottom: 16px;
    text-align: start;
    @media screen and (min-width: 1280px) {
        margin-bottom: 15px;
    }
}

.section__title--position {
    text-align: start;
}

.section__title--padding {
    @media screen and (min-width: 480px) {
        width: 234px;
    }
    // margin-bottom: 43px;
    @media screen and (min-width: 768px) {
        width: 100%;
        margin-bottom: 0;
    }
    @media screen and (min-width: 1280px) {
        width: 100%;
        margin-bottom: 0;
    }
}

.footer__container {
    display: block;
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
    }
    @media screen and (min-width: 1280px) {
        justify-content: space-between;
    }
    
}

// .container__footer {
//     padding-left: 15px;
//     padding-right: 15px;
// }

.footer__allcontacts {
    width: 100%;
    margin-top: 43px;
    text-align: end;
    @media screen and(min-width: 768px) {
        margin-top: 0;
    }
    @media screen and (min-width: 1280px) {
        margin-top: 0;
    }
}


.social__link {
    width: 34px;
    height: 34px;
    background-color: #FFA5BA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &:hover,
    &:focus {
        background-color: #D41443;
    }
}

.social__icon {
    fill: #ffffff;
}

.copyright {
    border-top: 1px solid #E1E1E1;
    margin-top: 43px;
    @media screen and (min-width: 768px) {
        margin-top: 91px;
    }
    @media screen and (min-width: 1280px) {
        margin-top: 97px;
    }
}