.social {
    display: flex;
    justify-content: flex-end;
    margin-top: 43px;
    @media screen and (min-width: 768px) {
        margin-top: 0;
    }
}

.social__item {
    margin-right: 30px;
    &:last-child {
        margin-right: 0px;
    }
}

.footer {
padding-bottom: 43px;
background-color: #FFF5F6;
@media screen and (min-width: 768px) {
    padding-bottom: 18px;
}
@media screen and (min-width: 1280px) {
    padding-bottom: 10px;
}
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.telephone {
    display: block;
    margin-top: 46px;
    margin-right: 0px;
    color: black;
    @media screen and (min-width: 768px) {
    // display: flex;
    // justify-content: flex-end;
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.02em;
    }
}

.telephone__number {
    color: var(--accent-color);
}

.end {
    padding-top: 20px;
    border-top: 1px solid #E1E1E1;
    text-align: center;
    margin-top: 65px;
    color: #907E82;
    @media screen and (min-width: 1280px) {
        font-weight: 700;
        font-size: 14px;
        line-height: 186%;
        letter-spacing: 0.02em;
        color: #907E82;
    }
}

.section__pretitle {
font-weight: 400;
font-size: 30px;
line-height: 1.13;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFA5BA;
@media screen and (min-width: 768px) {
font-size: 26px;
line-height: 1.15;
}
}

.section__pretitle--position {
    margin-bottom: 16px;
    text-align: start;
}

.section__title {
font-weight: 400;
font-size: 58px;
line-height: 1.13;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #D41443;
@media screen and(min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
}
}

.section__title--position {
    text-align: start;
}

.section__title--padding {
    margin-bottom: 43px;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        margin-right: 90px;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 0;
    }
}

.section {
    display: block;
    @media screen and (min-width:768px) {
        display: flex;
        // justify-content: space-around;
    }
    @media screen and (min-width: 1280px) {
        justify-content: space-between;
    }
    
}

.container__footer {
    padding-left: 15px;
    padding-right: 15px;
}

.footer__allcontacts {
    text-align: end;
}
