.social {
    display: flex;
    
    justify-content: flex-end;
    margin-top: 43px;
    @media screen and (min-width: 768px) {
        margin-top: 0;
    }
}

.social__item {
    margin-right: 24px;
    &:last-child {
        margin-right: 0px;
    }
}

.footer {
padding-bottom: 25px;
background-color: #FFF5F6;
@media screen and (min-width: 768px) {
    padding-bottom: 18px;
}
@media screen and (min-width: 1280px) {
    padding-bottom: 10px;
}
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.telephone {
    display: block;
    margin-top: 46px;
    margin-right: 0px;
    color: black;
    @media screen and (max-width: 320px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    @media screen and(min-width: 480px) {
        display: block;
        margin-right: 0px;
    }
    @media screen and (min-width: 768px) {
    // display: flex;
    // justify-content: flex-end;
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.02em;
    }
}

.telephone__number {
    color: var(--accent-color);
}

.end {
    // padding-top: 20px;
    // border-top: 1px solid #E1E1E1;
    text-align: center;
    // padding-top: 65px;
    color: #907E82;
    @media screen and (max-width: 480px) {
        width: 150px;
        margin: auto;
    }
    @media screen and (min-width: 1280px) {
        width: 276px;
        margin: auto;
        font-weight: 700;
        font-size: 14px;
        line-height: 186%;
        letter-spacing: 0.02em;
        color: #907E82;
    }
}

.copyright {
    margin-top: 65px;
    padding-top: 20px;
    border-top: 1px solid #E1E1E1;
    outline: #D41443;
    @media screen and (min-width: 768px) {
        padding-top: 29px;
        margin-top: 91px;
    }
}

.section__pretitle {
font-weight: 400;
font-size: 30px;
line-height: 1.13;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFA5BA;
@media screen and (min-width: 768px) {
font-size: 26px;
line-height: 1.15;
}
}

.section__pretitle--position {
    margin-bottom: 16px;
    text-align: start;
    @media screen and (min-width: 1280px) {
        margin-bottom: 15px;
    }
}

.section__title {
// font-weight: 400;
// font-size: 58px;
// line-height: 1.13;
// letter-spacing: 0.06em;
// text-transform: uppercase;
color: #D41443;
@media screen and(min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
}
@media screen and (min-width: 1280px) {
    font-weight: 400;
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
    color: #D41443;
}
}

.section__title--position {
    text-align: start;
}

.section__title--padding {
    // margin-bottom: 43px;
    @media screen and (min-width: 768px) {
        width: 100%;
        margin-bottom: 0;
    }
    @media screen and (min-width: 1280px) {
        width: 100%;
        margin-bottom: 0;
    }
}

.section {
    // padding-bottom: 43px;
    display: block;
    @media screen and (min-width: 768px) {
        // padding-bottom: 91px;
        display: flex;
        justify-content: space-between;
    }
    @media screen and (min-width: 1280px) {
        justify-content: space-between;
    }
}

.container__footer {
    padding-left: 15px;
    padding-right: 15px;
}

.footer__allcontacts {
    width: 100%;
    text-align: end;
}

.social__link {
    width: 34px;
    height: 34px;
    background-color: #FEA5BB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    &:hover,
    &:focus {
        background-color: #D41443;
    }
}

.social__icon {
    fill: #ffffff;
}

