.gallery {
  width: 100%;
  height: 122px;
  background-color: linear-gradient(to bottom, var(--background-color) 50%, #e5e5e5 50%);

  @include tablet {
    height: 264px;
  }
  @include desktop {
    height: 430px;
  }
}
.container__gallery {
  padding: 0;
}
