.section__hero {
  background-color: #ffb8ca;
}

.container {
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
}
.header__button-burger {
  display: block;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.header__icon-burger {
}
.menu__mobile {
  display: none;
}
.hero__title {
}
.hero__title-another-color {
}
.nav-list {
}
.nav-list__item {
}
.nav-list__link {
}
.hero__img-ellipse {
}
.hero__img-icecream {
}
