// .section__hero * {
//   outline: 1px solid tomato;
// }

.section__hero {
  background-color: #ffb8ca;
}

.container__hero {
  position: relative;
  overflow: hidden;
  padding-top: 6px;
  padding-bottom: 160px;

  @media screen and (min-width: 768px) {
    padding-top: 38px;
    padding-bottom: 34px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 56px;
  }
}

.header {
  display: flex;
  align-items: center;

  margin-bottom: 137px;

  @media screen and (min-width: 768px) {
    margin-bottom: 7px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 69px;
    justify-content: flex-end;
  }
}

.header__logo {
  width: 199px;
  height: 50px;

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 38px;
    left: 46px;
  }
}

.header__nav {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.nav-list {
  display: flex;
}

.nav-list__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.nav-list__link {
  position: relative;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;

  z-index: 2;

  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #d41443;
  }
}

.header__button-burger {
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }

  @media screen and (max-width: 1279px) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
  }

  display: none;
}
.header__icon-burger {
}

.hero__button-buy {
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 44px;
  padding: 0;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;

  color: #d41443;
  border-radius: 22px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;

  z-index: 2;

  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 110px;
  }
}

.hero__icon-buy {
  margin-left: 12px;
}

.menu__mobile {
  display: none;
}

.hero__title-wrap {
  position: relative;
  z-index: 2;

  @media screen and (min-width: 768px) {
    padding-top: 8px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 5px;
  }
}

.hero__title {
  max-width: 218px;
  margin-bottom: 19px;

  font-family: Titan One;
  font-weight: normal;
  font-size: 48px;
  line-height: 0.905;

  text-transform: uppercase;
  color: #d41443;

  @media screen and (min-width: 768px) {
    max-width: 162px;
    margin-bottom: 20px;

    font-size: 34px;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1280px) {
    max-width: 277px;
    margin-bottom: 25px;

    font-size: 58px;
  }
}
.hero__title-another-color {
  display: block;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;

  color: #ffffff;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: 1.16;
  }
}
.anchor-list {
  display: flex;
}
.anchor-list__item {
  &:first-child {
    margin-right: 8px;

    @media screen and (min-width: 1280px) {
      margin-right: 15px;
    }
  }
}
.anchor-list__link {
  width: 61.2px;
  height: 24px;

  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  background-color: #d41443;
  border-radius: 20px;

  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #c7133e;
  }

  @media screen and (min-width: 1280px) {
    width: 104px;
    height: 40px;

    font-size: 14px;
    line-height: 1.29;
  }
}

.anchor-list__link--another-color {
  width: 82.8px;
  color: #d41443;
  background-color: #ffffff;

  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 1280px) {
    width: 138px;
  }
}

.hero__wrapper {
  @media screen and (min-width: 768px) {
    position: relative;
    display: flex;
    justify-content: space-between;

    margin-bottom: 66px;

    z-index: 2;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 112px;
  }
}

.hero__stores-wrap {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.stores-list {
  @media screen and (min-width: 1280px) {
    position: relative;
    top: 0;
    right: -18px;
  }
}

.stores-list__item {
  &:first-child {
    position: relative;

    margin-bottom: 13px;
    padding-top: 2px;
    padding-right: 10px;

    @media screen and (min-width: 1280px) {
      padding-top: 4px;
      padding-right: 18px;
      margin-bottom: 15px;
    }
  }

  &:last-child {
    position: relative;

    padding-top: 1px;
    padding-right: 8px;

    @media screen and (min-width: 1280px) {
      padding-top: 3px;
      padding-right: 18px;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    right: 5%;
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: -1;

    @media screen and (min-width: 1280px) {
      right: 2%;
      width: 30px;
      height: 30px;
    }
  }
}

.stores-list__number {
  font-family: Titan One;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;

  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.15;
  }
}

.stores-list__text {
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;

  color: #ffffff;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__text-wrap {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    position: relative;
    left: 120px;
    max-width: 114px;
    z-index: 2;
  }

  @media screen and (min-width: 1280px) {
    max-width: 200px;
    left: 180px;
  }
}

.hero__text {
  margin-bottom: 7px;

  font-family: DM Sans;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.5;

  color: #ffffff;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.4;

    margin-bottom: 20px;
  }
}

.hero__link {
  @media screen and (max-width: '767px') {
    display: none;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;

  color: #d41443;

  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}

.hero__icon-arrow {
  fill: currentColor;

  @media screen and (min-width: 768px) {
    width: 8px;
    height: 8px;
  }

  @media screen and (min-width: 1280px) {
    width: 14px;
    height: 14px;
  }
}

.hero__img-ellipse {
  position: absolute;
  top: 17%;
  left: 11%;
  width: 346px;
  height: 344px;
  z-index: 1;
  max-width: none;

  @media screen and (min-width: 768px) {
    top: 36px;
    left: 307px;
    width: 324px;
    height: 322px;
  }

  @media screen and (min-width: 1280px) {
    top: 52px;
    left: 475px;
    width: 538px;
    height: 538px;
  }
}

.hero__img-icecream {
  position: absolute;
  bottom: 0;
  left: 37%;
  width: 171px;
  height: 410px;
  z-index: 1;

  @media screen and (min-width: 768px) {
    bottom: 0;
    left: 378px;
    width: 143px;
    height: 336px;
  }

  @media screen and (min-width: 1280px) {
    bottom: 0;
    left: 594px;
    width: 236px;
    height: 557px;
  }
}

.hero__img-milk {
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: absolute;
  bottom: 28px;
  left: 34px;
  width: 124px;
  height: 126px;
  z-index: 1;

  @media screen and (min-width: 1280px) {
    bottom: 45px;
    left: 77px;
    width: 188px;
    height: 191px;
  }
}

.hero__img-girl {
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: absolute;
  bottom: 0;
  right: 34px;
  width: 168px;
  height: 133px;
  z-index: 1;

  @media screen and (min-width: 1280px) {
    bottom: 0;
    right: 109px;
    width: 293px;
    height: 232px;
  }
}

// .hero__img-ellipse {
//   position: absolute;
//   top: 83px;
//   left: 36px;
//   width: 346px;
//   height: 344px;
//   z-index: 1;
// }
// .hero__img-icecream {
//   position: absolute;
//   bottom: 0;
//   left: 117px;
//   width: 171px;
//   height: 410px;
//   z-index: 1;
// }
