.products__section {
  background-color: var(--primeri-text-color);
  padding-top: 121px;
  padding-bottom: 98px;
  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.section__label {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.14;
  }
}
.sectin__title {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 144px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    margin-bottom: 150px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 259px;
  }
}

.products__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -10x;
  }
}

.item__thumb {
  padding-top: 161px;
  padding-bottom: 41px;
  padding-left: 41px;
  padding-right: 39px;
  width: 100%;
  @media screen and (min-width: 768px) {
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 152px;
    padding-bottom: 41px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 163px;
    padding-bottom: 50px;
  }
}

.products__item {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  background-color: #ffb8ca;
  border-radius: 24px;
  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-top: 130px;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 10px;
    flex-basis: calc((100% - 60px) / 3);
  }

  &::before {
    position: absolute;
    content: url('../images/products/img-mob-1-1x.png');
    display: block;
    width: 100%;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 768px) {
      content: url('../images/products/img-tab-1-1x.png');
    }
    @media screen and (min-width: 1280px) {
      content: url('../images/products/img-desc-1-1x.png');
    }
  }

  &:nth-child(2) {
    background-color: #f0d1a5;

    &::before {
      content: url('../images/products/img-mob-2-1x.png');
      @media screen and (min-width: 768px) {
        content: url('../images/products/img-tab-2-1x.png');
      }
      @media screen and (min-width: 1280px) {
        content: url('../images/products/img-desc-2-1x.png');
      }
    }
  }
  &:nth-child(3) {
    background-color: #c2e297;

    &::before {
      content: url('../images/products/img-mob-3-1x.png');
      @media screen and (min-width: 768px) {
        content: url('../images/products/img-tab-3-1x.png');
      }
      @media screen and (min-width: 1280px) {
        content: url('../images/products/img-desc-3-1x.png');
      }
    }
  }
}
.thumb__title {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primeri-text-color);

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }

  &::after {
    content: '\2022 \2022 \2022';
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 1.15;
    color: var(--primeri-text-color);
    margin-top: 30px;
  }
}

.thumb__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primeri-text-color);
  margin-top: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    line-height: 1.76;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 62px;
  }
}

.thumb__button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--primeri-text-color);
}
.thumb__icon {
  position: relative;
  overflow: hidden;
  fill: var(--accent-color);
}

.button__overlay {
  flex-grow: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background-color: rgba(240, 211, 218, 1);
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .thumb__button:hover &,
  .thumb__button:focus & {
    opacity: 1;
    transform: translateX(0);
    padding: 25px;
  }
}
.overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.04em;
  color: rgb(23%, 18%, 19%, 1);
  text-align: left;
}
