.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  @include mobile {
    width: 480px;
  }
  @include tablet {
    width: 768px;
    padding: 0 34px;
  }
  @include desktop {
    width: 1280px;
    padding: 0 115px;
  }
}

.section__pretitle {
  font-family: var(--secondery-font-family);
  @include font(18px, 400, 1.17, normal);
  color: #ffa5ba;
  text-transform: uppercase;
  text-align: center;
  @include tablet {
    @include font(26px, null, 1.15, null);
  }
  @include desktop {
    @include font(30px, null, 1.12, null);
  }
}
.section__title {
  font-family: var(--secondery-font-family);
  @include font(34px, 400, 1.15, 0.04em);
  color: var(--accent-color);
  text-transform: uppercase;
  text-align: center;
  @include tablet {
    @include font(48px, null, 1.15, null);
  }
  @include desktop {
    @include font(58px, null, 1.14, 0.06em);
  }
}
